/* Modal.css */
.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-overlay {
  background: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  margin: auto;
  top: 50%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}
